Joao marcos/Teste_SideScroller/Teste_SideScroller/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Joao marcos/Teste_SideScroller/Teste_SideScroller/obj/Debug/DesignTimeResolveAssemblyReferences.cache